<h2><mark><%= data.title %></mark></h2>
<div class="catflex">
    <p class="catflexp"><%= data.category %></p>
    <p class="postdate"><%= data.createdAt.toDateString() %></p>
</div>
<article class="article artcont"><%= data.body %></article>
<div class="udflex uds">
    <div class="udflex">
        <div class="udflexd">
            <!-- upvote -->
            <button class="upvote-btn" data-postid="<%= data._id %>"> 
                <img src="/img/like.png" alt="like">
                <span><%= data.upvotes %></span>
            </button>
        </div>
        <div class="udflexd">
            <!-- downvote -->
            <button class="downvote-btn" data-postid="<%= data._id %>">
                <img src="/img/unlike.png" alt="unlike">
                <span><%= data.downvotes %></span>
            </button>
        </div>
    </div>
    <div class="share">
        <!-- share -->
        <div>Share</div>
        <div class="shareimg">
            <a href="https://web.whatsapp.com/send?text=<%= encodeURIComponent(data.title) %> - <%= encodeURIComponent(locals.originalUrl) %>" target="_blank">
                <img src="/img/whatsapp.png" alt="whatsapp">
            </a>
            <a href="https://www.linkedin.com/shareArticle?url=<%= encodeURIComponent(locals.originalUrl) %>&title=<%= encodeURIComponent(data.title) %>" target="_blank">
                <img src="/img/linkedin.png" alt="linkedin">
            </a>
            <a href="mailto:?subject=<%= encodeURIComponent(data.title) %>&body=<%= encodeURIComponent(locals.originalUrl) %>">
                <img src="/img/email.png" alt="email">
            </a>
        </div>
    </div>
</div>